astroid==2.2.5
colorama==0.4.1
isort==4.3.21
keyboard==0.13.5
lazy-object-proxy==1.4.1
mccabe==0.6.1
mgrs==1.3.6
MouseInfo==0.1.3
Pillow==7.1.2
PyAutoGUI==0.9.50
PyGetWindow==0.0.8
pylint==2.3.1
PyMsgBox==1.0.8
pyperclip==1.8.0
pypresence==3.3.2
PyRect==0.1.4
PyScreeze==0.1.26
PyTweening==1.0.3
six==1.12.0
typed-ast==1.4.0
wrapt==1.11.2
